@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --accent: #3E6E93;
    --accent-light: #b9d2e9;
    --accent-active: #559be7;
    --accent-hover: #698eb8;
    --mainbar: slategray;
    --mainbar-hover: #7B8D9E;
    --red: #FA272F;
    --red-hover: #FA4D53;
    --nav-width: 250px;
}

img.filter-white {
    filter: invert(100%);
}

img.filter-red {
    filter: invert(13%) sepia(84%) saturate(7487%) hue-rotate(3deg) brightness(104%) contrast(115%);
}

img.filter-accent {
    filter: invert(40%) sepia(12%) saturate(1791%) hue-rotate(164deg) brightness(95%) contrast(90%);
}

* {
    outline: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: poppins;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: lightgoldenrodyellow;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    transition: filter .2s ease;
}

img[disabled] {
    filter: grayscale(1);
}

button {
    background: none;
    border: none;
    font-family: unset;
    color: unset;
    font-size: unset;
    font-weight: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: all .2s ease;
}

button > img {
    width: 30px;
}

button.confirm {
    background-color: var(--accent);
}

button.cancel,
button.delete {
    background-color: var(--red);
}

button.delete:hover {
    background-color: var(--red-hover);
}

button.align-left {
    margin-right: auto;
}

button.confirm:hover {
    background-color: var(--accent-active);
}

button.cancel:hover {
    background-color: var(--red-hover);
}

button[disabled] {
    background-color: gray !important;
    cursor: not-allowed !important;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--accent);
}

input[type="range"] {
    width: 98%;
}

fieldset {
    border: none;
}

.hidden {
    display: none !important;
}

nav {
    background-color: var(--accent);
    box-shadow: 0 0 6px 0 black;
    min-width: var(--nav-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

nav > .nav-separator {
    font-weight: 700;
    font-size: .8em;
    padding: 5px 0 2px 10px;
}

#db {
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.db-entry {
    display: grid;
    grid-template-rows: 0fr 0fr;
    overflow: hidden;
    padding: 0 10px;
    user-select: none;
    transition: all .2s ease;
}

.db-button {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    gap: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s ease;
}

.db-button img {
    width: 22px;
    filter: saturate(0) brightness(100);
}

.db-entry button {
    font-weight: normal;
    width: auto;
}

.db-button > img:last-child {
    width: 25px;
    filter: saturate(0) brightness(100);
}

.db-entry-expand {
    padding: 0;
    border-radius: 10px;
}

.db-entry-expand > img {
    transition: all .15s ease;
    width: 20px;
    padding: 2px;
}

.db-entry:has(.db-tables button).expanded {
    grid-template-rows: 0fr 1fr;
}

.db-entry.expanded .db-entry-expand > img:first-child {
    transform: rotate(90deg);
}

.db-entry-expand:hover,
.db-entry-create-table:hover {
    backdrop-filter: brightness(1.2);
    -webkit-backdrop-filter: brightness(1.2);
}

.db-entry.active > .db-button {
    background-color: var(--accent-active);
}

.db-entry-create-table {
    margin-left: auto;
    border-radius: 10px;
    padding: 0;
    margin-right: 2px;
}

.db-entry-create-table > img {
    width: 20px;
    padding: 2px;
}

.db-button:hover,
.db-tables > button:hover,
nav > button:hover {
    background-color: var(--accent-hover);
}

.db-tables {
    --left-margin: 31px;
    padding-left: var(--left-margin);
    min-height: 0;
    box-sizing: border-box;
}

.db-tables > button {
    position: relative;
    border-radius: 5px;
    width: 100%;
}

.db-tables > button.active {
    background-color: var(--accent-active);
}

.db-tables img {
    width: 20px;
}

.table-backbone {
    --height: 60;
    --width: 20;
    --line-halfwidth: 4%;
    --height-ratio: calc(var(--width) / var(--height));
    /* filter: url('#round'); */
    height: calc(var(--height) * 1px);
    width: calc(var(--width) * 1px);
    position: absolute;
}

.table-backbone::before {
    content: '';
    left: calc(calc(calc(var(--left-margin) - calc(var(--width) * 0.5px)) * -1) - calc(var(--width) * 1px - 11px));
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    clip-path: polygon(
        calc(50% - var(--line-halfwidth)) 0%,
        calc(50% - var(--line-halfwidth)) calc(50% + calc(var(--line-halfwidth) * var(--height-ratio))),
        100% calc(50% + calc(var(--line-halfwidth) * var(--height-ratio))),
        100% calc(50% - calc(var(--line-halfwidth) * var(--height-ratio))),
        calc(50% + var(--line-halfwidth)) calc(50% - calc(var(--line-halfwidth) * var(--height-ratio))),
        calc(50% + var(--line-halfwidth)) 0%
    );
}

.db-tables > button:first-child > .table-backbone {
    --height: 20;
}

nav > button {
    padding: 10px;
    width: 100%;
}

#btn-erd {
    margin-top: auto;
}

.modal {
    position: fixed;
    background-color: #00000050;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: modalIn .25s ease forwards;
}

.modal.out {
    animation: modalOut .25s ease forwards !important;
}

@keyframes modalIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes modalOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transform-origin: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    border: 2px solid var(--accent);
    animation: modalContentIn .25s ease forwards;
}

.modal.out .modal-content {
    animation: modalContentOut .25s ease forwards !important;
}

@keyframes modalContentIn {
    from {
        transform: translate(-50%, -50%) scale(0.2);
    }
}

@keyframes modalContentOut {
    to {
        transform: translate(-50%, -50%) scale(0.2);
    }
}

.modal-title {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.modal-buttons {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-top: 10px;
}

.modal-buttons > button {
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 5px;
}

.modal input[type="text"] {
    border: 2px solid var(--accent);
    border-radius: 5px;
    padding: 5px;
}

.modal-subtitle {
    font-weight: 700;
    margin: 5px 0;
}

#modal-textinput input {
    width: 100%;
    box-sizing: border-box;
}

#modal-error {
    z-index: 10;
}

#modal-yesnoinput {
    z-index: 9;
}

#modal-error > .modal-content {
    border-color: var(--red);
}

main {
    width: 100%;
    position: relative;
    padding: 50px 20px;
}

#landing-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#landing-view > img {
    width: 150px;
}

#landing-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 60%;
    justify-content: center;
}

.landing-btn {
    background-color: #3E6E9340;
    display: flex;
    width: 250px;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    gap: 5px;
    font-weight: 500;
    transition: all .2s ease;
}

.landing-btn:hover {
    background-color: #3E6E9360;
}

.landing-btn > img {
    width: 50px;
    filter: saturate(0) brightness(100);
}
.actions {
    color: white;
    padding: 0;
    background-color: var(--mainbar);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: var(--nav-width);
}

.actions > button {
    padding: 10px 10px;
}

.actions > button:hover {
    background-color: var(--mainbar-hover);
}

.list-table {
    text-align: left;
    border-collapse: collapse;
    font-size: 1.1em;
}

.list-table .cell-center {
    text-align: center;
}

.list-table th,
.list-table td {
    white-space: nowrap;
    /* padding-right: 30px; */
    padding: 0 10px;
}

.list-table img {
    width: 20px;
    vertical-align: sub;
}

.list-table thead > tr {
    background-color: var(--accent-light);
    height: 30px;
}

.list-table tr {
    height: 30px;
}

.list-table tr:nth-child(2n-1):not(thead > tr) {
    background-color: #00000010;
}

.list-table tr:nth-child(2n) {
    background-color: #00000020;
}

.list-table .editing img {
    cursor: pointer;
}

.list-table input[type="text"],
#er-attributestable input[type="text"] {
    font-size: 1em;
    padding: 0 2px;
    width: 150px;
    border-radius: 0;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid var(--mainbar);
}

.list-table select {
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
}

.table-actions {
    display: flex;
}

.table-actions > button {
    font-weight: 500;
    font-size: 0.8em;
}

.table-name {
    min-width: 100px;
}

td:has(.constraint),
td:has(input[type="checkbox"]),
td.entry-size {
    text-align: center;
}

.add-row {
    text-align: left !important;
    cursor: pointer;
    filter: brightness(0);
    user-select: none;
    height: 2em;
}

#modal-rowtype .modal-body {
    display: flex;
    gap: 10px;
}

#type-list {
    --tab-button-height: 30px;
    background-color: white;
    border: 1px solid black;
    max-height: 60vh;
    height: 300px;
    width: 200px;
}

#type-tab-selector {
    display: flex;
    position: relative;
}

#type-tab-selector::after {
    --fade-height: 20px;
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--fade-height));
    width: 100%;
    height: var(--fade-height);
    background: linear-gradient(180deg, #FFF 0%, #FFFFFF00 100%);
}

#type-tab-selector > div {
    /* background-color: magenta; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--tab-button-height);
    width: 100%;
    border-bottom: 1px solid black;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;
}

#type-tab-selector > div:first-child {
    border-right: 1px solid black;
}

#type-tab-selector > div:hover {
    background-color: lightgray !important;
}

#type-tab-selector > div.active {
    background-color: var(--accent-light);
}

.type-tab {
    overflow: scroll;
    height: calc(100% - var(--tab-button-height));
    padding: 10px 0;
    box-sizing: border-box;
}

.type-tab span {
    display: block;
    user-select: none;
    padding: 0 25px 0 10px;
    transition: all .2s ease;
}

.type-tab span.active {
    background-color: var(--accent-light);
}

.type-tab span:not(.type-category) {
    text-indent: 1.5em;
    cursor: pointer;
    transition: all .2s ease;
}

.type-tab span:not(.type-category):hover {
    background-color: lightgray;
}

.type-category {
    font-weight: 700;
}

#type-settings {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0 10px;
}

#type-settings > div {
    height: 40%;
    margin-top: 5px;
    overflow: scroll;
}

.range-labels {
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    position: relative;
}

.range-labels > span {
    position: absolute;
    left: calc(var(--value) / var(--max-value) * 100%);
    transform: translateX(-50%);
}

.fine-range {
    display: flex;
    gap: 10px;
}

.fine-range > div {
    width: 80%;
}

.fine-range > input {
    width: 40px;
    height: 20px;
    border-radius: 3px;
    border: 1.5px inset black;
}

#type-info {
    background-color: lightgray;
    height: 50%;
    padding: 10px;
    overflow: scroll;
    gap: 0px;
}

#varchar-settings .fine-range > div {
    width: 70%;
}

#varchar-settings .fine-range > input {
    width: 60px;
}

#modal-export textarea {
    width: 500px;
    height: 200px;
    resize: none;
    font-family: monospace;
    background-color: transparent;
    /* border: none; */
    margin-top: 10px;
}

#copy-sql-btn {
    position: absolute;
    margin-top: 15px;
    right: 20px;
    opacity: 0.5;
    transition: opacity .2s ease;
}

#copy-sql-btn > img {
    width: 30px;
}

#copy-sql-btn:hover {
    opacity: 1;
}

#er-diagram {
    border: 1px solid black;
}

#er-databasename {
    margin-bottom: 7px;
}

#er-controls {
    color: white;
    width: 100%;
    background-color: var(--mainbar);
    display: flex;
}

#er-controls > button {
    font-weight: 500;
    padding: 5px;
    padding-right: 10px;
}

#er-controls > button:hover {
    background-color: var(--mainbar-hover);
}

#er-exportimage {
    margin-left: auto;
}

#er-contextmenu {
    --vertical-margin: 3px;
    --horizontal-margin: 5px;
    position: absolute;
    background-color: white;
    border: 2px solid var(--accent);
    border-radius: 5px;
    overflow: hidden;
    padding: calc(var(--horizontal-margin) - var(--vertical-margin)) 0;
    box-shadow: 0 0 5px 0 var(--mainbar);
    transform-origin: top left;
    z-index: 10;
    animation: ContextMenuIn .1s ease-out forwards;
}

@keyframes ContextMenuIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

#er-contextmenu > hr {
    margin: 2px 5px;
    border: none;
    border-top: 1.5px solid var(--accent);
}

#er-contextmenu > button {
    background-color: transparent;
    font-weight: 500;
    width: calc(100% - calc(var(--horizontal-margin) * 2));
    cursor: pointer;
    font-size: .9em;
    padding: 2px 10px 2px 5px;
    margin: var(--vertical-margin) var(--horizontal-margin);
    border-radius: 5px;
    box-sizing: border-box;
}

#er-contextmenu > button:hover {
    background-color: var(--accent-light);
}

#er-contextmenu > button.delete:hover {
    background-color: var(--red-hover);
}

#er-contextmenu > button > img {
    width: 25px;
}

#modal-createentity .modal-body > div > * {
    display: block;
}

#modal-createentity .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#er-attributestable {
    border-collapse: collapse;
}

#er-attributestable td:not(:first-child),
#er-attributestable th:not(:first-child) {
    padding: 0 20px;
}

#er-attributestable td,
#er-attributestable th {
    padding: 0 5px;
    border: 1px solid black;
}

#er-attributestable th:first-child {
    text-align: left;
}

#er-attributestable td:not(:first-child) {
    text-align: center;
}

#er-attributestable img {
    width: 20px;
    vertical-align: sub;
    cursor: pointer;
}

#er-attributestable tr:last-child {
    cursor: pointer;
    user-select: none;
}

#foreign-diagram {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

#foreign-diagram table {
    border-collapse: collapse;
    text-align: center;
}

#foreign-diagram table td,
#foreign-diagram table th {
    border: 1px solid black;
    padding: 5px 10px;
}

#foreign-diagram th > select {
    font-weight: 700;
}

#foreign-diagram select {
    text-align: center;
}

#foreign-arrow {
    width: 75px;
    height: 3px;
    position: relative;
    border-radius: 100px;
    background-color: black;
}

#foreign-arrow::after {
    content: '';
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    right: 0px;
    top: 50%;
    border-radius: 2px;
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: translateY(-50%) rotate(45deg);
}

/* #erd-contextmenu {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 500px;
    top: 100px;
    background-color: white;
    color: black;
    border: 4px solid var(--accent);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
    overflow: hidden;
}

#erd-contextmenu button {
    width: 100%;
    background-color: magenta;
}

#erd-contextmenu button:hover {
    background-color: lime;
} */
