:root {
    --accent: #3E6E93;
    --accent-light: #b9d2e9;
    --accent-active: #559be7;
    --accent-hover: #698eb8;
    --mainbar: slategray;
    --mainbar-hover: #7B8D9E;
    --red: #FA272F;
    --red-hover: #FA4D53;
    --nav-width: 250px;
}

img.filter-white {
    filter: invert(100%);
}

img.filter-red {
    filter: invert(13%) sepia(84%) saturate(7487%) hue-rotate(3deg) brightness(104%) contrast(115%);
}

img.filter-accent {
    filter: invert(40%) sepia(12%) saturate(1791%) hue-rotate(164deg) brightness(95%) contrast(90%);
}

* {
    outline: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: system-ui;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: lightgoldenrodyellow;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    transition: filter .2s ease;
}

img[disabled] {
    filter: grayscale(1);
}

button {
    background: none;
    border: none;
    font-family: unset;
    color: unset;
    font-size: unset;
    font-weight: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: all .2s ease;
}

button > img {
    width: 30px;
}

button.confirm {
    background-color: var(--accent);
}

button.cancel {
    background-color: var(--red);
}

button.confirm:hover {
    background-color: var(--accent-active);
}

button.cancel:hover {
    background-color: var(--red-hover);
}

input[type="checkbox"] {
    accent-color: var(--accent);
}

input[type="range"] {
    width: 98%;
}

.hidden {
    display: none !important;
}

nav {
    background-color: var(--accent);
    box-shadow: 0 0 6px 0 black;
    min-width: var(--nav-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

nav > .nav-separator {
    font-weight: 700;
    font-size: .8em;
    padding: 5px 0 2px 10px;
}

#table-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}


.table-entry {
    display: flex;
    gap: 8px;
    padding: 5px 10px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;
}

.table-entry > img {
    width: 25px;
}

.table-entry.active {
    background-color: var(--accent-active);
}

.table-entry:hover,
nav > button:hover {
    background-color: var(--accent-hover);
}

nav > button {
    padding: 10px;
    width: 100%;
}

#export-button {
    margin-top: auto;
}

.modal {
    position: fixed;
    background-color: #00000050;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: modalIn .25s ease forwards;
}

.modal.out {
    animation: modalOut .25s ease forwards !important;
}

@keyframes modalIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes modalOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transform-origin: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    border: 2px solid var(--accent);
    animation: modalContentIn .25s ease forwards;
}

.modal.out .modal-content {
    animation: modalContentOut .25s ease forwards !important;
}

@keyframes modalContentIn {
    from {
        transform: translate(-50%, -50%) scale(0.2);
    }
}

@keyframes modalContentOut {
    to {
        transform: translate(-50%, -50%) scale(0.2);
    }
}

.modal-title {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.modal-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-top: 10px;
}

.modal-buttons > button {
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 5px;
}

.modal input[type="text"] {
    border: 2px solid var(--accent);
    border-radius: 5px;
    padding: 5px;
}

main {
    width: 100%;
    overflow: scroll;
    padding: 50px 20px;
    position: relative;
}

#actions {
    padding: 0;
    background-color: var(--mainbar);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: var(--nav-width);
}

#actions > button {
    padding: 10px 10px;
}

#actions > button:hover {
    background-color: var(--mainbar-hover);
}

#table-structure {
    text-align: left;
    border-collapse: collapse;
    font-size: 1.1em;
}

#table-structure th:first-child,
#table-structure td:first-child {
    padding: 0 5px;
}

#table-structure th,
#table-structure td {
    white-space: nowrap;
    padding-right: 30px;
}

#table-structure td:nth-last-child(-n+4) {
    text-align: center;
}

#table-structure img {
    width: 20px;
    vertical-align: sub;
    cursor: pointer;
}

#table-structure thead > tr {
    background-color: var(--accent-light);
    height: 30px;
}

#table-structure tr {
    height: 30px;
}

#table-structure tr:nth-child(2n-1):not(thead > tr) {
    background-color: #00000010;
}

#table-structure tr:nth-child(2n) {
    background-color: #00000020;
}

#table-structure input[type="text"] {
    font-size: 1em;
    padding: 0 2px;
    width: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--mainbar);
}

#table-structure select {
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
}

#add-row td {
    text-align: left !important;
    cursor: pointer;
    filter: brightness(0);
    height: 2em;
}

#modal-rowtype .modal-body {
    display: flex;
    gap: 10px;
}

#type-list {
    background-color: white;
    border: 1px solid black;
    padding: 10px 0;
    overflow: scroll;
    max-height: 60vh;
    height: 300px;
}

#type-list > span {
    display: block;
    user-select: none;
    padding: 0 25px 0 10px;
    transition: all .2s ease;
}

#type-list > span.active {
    background-color: var(--accent-light);
}

#type-list > span:not(.type-category) {
    text-indent: 1.5em;
    cursor: pointer;
    transition: all .2s ease;
}

#type-list > span:not(.type-category):hover {
    background-color: lightgray;
}

.type-category {
    font-weight: 700;
}

#type-settings {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0 10px;
}

#type-settings > div {
    height: 50%;
    margin-top: 5px;
    overflow: scroll;
}

.range-labels {
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    position: relative;
}

.range-labels > span {
    position: absolute;
    left: calc(var(--value) / var(--max-value) * 100%);
    transform: translateX(-50%);
}

.fine-range {
    display: flex;
    gap: 10px;
}

.fine-range > div {
    width: 80%;
}

.fine-range > input {
    width: 40px;
    height: 20px;
}

#type-info {
    background-color: lightgray;
    height: 50%;
    padding: 10px;
    overflow: scroll;
    gap: 0px;
}

#varchar-settings .fine-range > div {
    width: 70%;
}

#varchar-settings .fine-range > input {
    width: 60px;
}

#modal-export .modal-body img {
    width: 25px;
    vertical-align: middle;
    user-select: none;
}

#modal-export textarea {
    width: 500px;
    height: 200px;
    resize: none;
}

#er-diagram {
    border: 1px solid black;
}

#er-controls {
    width: 100%;
    background-color: var(--mainbar);
    display: flex;
}

#er-controls > button {
    padding: 5px;
    padding-right: 10px;
}

#er-controls > button:hover {
    background-color: var(--mainbar-hover);
}